{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ data.title }}</title>
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
{#<link rel="apple-touch-icon-precomposed" href="{% static  "images/apple_touch_icon.png" %}">#}

<link rel="stylesheet" href="{% static "css/uikit.customizer.css" %}">
<link rel="stylesheet" href="{% static "css/stocks.css" %}">